doctype html
html(lang='ko')
   head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title MENTal Of uS
    // Bootstrap Core CSS
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='stylesheets/modern-business.css', rel='stylesheet')
    // Custom Fonts
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    script(src="/socket.io/socket.io.js")
    script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
   body
     nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
       .container
         // Brand and toggle get grouped for better mobile display
         .navbar-header
           button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
             span.sr-only Toggle navigation
             span.icon-bar
             span.icon-bar
             span.icon-bar
           a.navbar-brand(href='/main') Mentos
           a.navbar-brand(href='/mypage') #{name}
         // Collect the nav links, forms, and other content for toggling
         #bs-example-navbar-collapse-1.collapse.navbar-collapse
           ul.nav.navbar-nav.navbar-right
             li
               a(href='/board') 내 노트
             li.dropdown.active
               a.dropdown-toggle(href='#', data-toggle='dropdown')
                 | 추천 
                 b.caret
               ul.dropdown-menu
                 li
                   a(href='/movie') 영화 추천
                 li.active
                   a(href='/food') 맛집 추천
             li
               a(href='/consult') 멘탈클리닉
             li
               a(href='/mypage') 마이페이지
             li
               a(href='/logout') 로그아웃
         // /.navbar-collapse
       // /.container
     // Header Carousel
     // Page Content
     .container
       // Page Heading/Breadcrumbs
       .row
         .col-lg-12
           h1.page-header
             | 나만의
             small ★톡★ 메뉴
       // /.row
       // Content Row
       .row
         // Map Column
         .col-md-8
         // Contact Details Column
         .col-md-4
       // /.row

       // Contact Form
       // In order to set the email address and subject line for the contact form go to the bin/contact_me.php file.
       .row
         .col-md-8
           .pull-right
             p
               i.fa.fa-clock-o
               label#date
          .div
             input#f_emo_no(type='hidden', value='0')
             .control-group.form-group
               .controls
                 label 추천 메뉴
                 p.help-block
             .control-group.form-group
               .controls
                 #food  
                 
                 p.help-block
       // /.row
       hr
       // Footer
       footer
         .row
           .col-lg-12
             p Copyright © Mentos 2017
     // /.container
     // jQuery
     
   script(src='javascripts/jquery.js')
   // Bootstrap Core JavaScript
   script(src='javascripts/bootstrap.min.js')
   script.
     var d = new Date();
     var week = new Array('일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일');
     var today = new Date().getDay();
     var todayLabel = week[today];
     var date = d.getFullYear() + '/' + (d.getMonth()+1) +'/' +d.getDate() + todayLabel;
     $('#date').text(date);
     var socket = null;
       $(document).ready(function () {
         socket = io.connect();
         socket.emit('load_food', JSON.stringify({f_emo_no:Number($('#f_emo_no').val())}));
         socket.on('load_food', function(data){
           data = JSON.parse(data);
           if(data.length > 0){
             for(var i = 0; i < data.length; i++){
               $('#food').append('<div class="col-md-4"><div class="panel panel-default"><div class="panel-heading"><h4><i class="fa fa-fw fa-check"></i>' + data[i].f_emotion+''+data[i].f_food + 
                 '<div class="close"><i class="fa fa-fw fa-remove" name="' + data[i].f_emotion + '"></i></div></h4></div><div class="panel-body"><a href="' + data[i].f_URL + 
                 '">눌러주쎄용</a><input type="hidden" value="'+ data[i].f_emo_no  + '"></div></div></div>');
             }
            
           }else{
             $('#food').append('<div class="col-lg-12"><ol class= "breadcrumb" >게시글이 없습니다.</ol></div >');
           }
         });
         
       });