doctype html
html(lang='ko')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Modern Business - Start Bootstrap Template
    // Bootstrap Core CSS
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='stylesheets/modern-business.css', rel='stylesheet')
    // Custom Fonts
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/main') Mentos
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/board') 내 노트
            li.dropdown.active
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | 추천 
                b.caret
              ul.dropdown-menu
                li.active
                  a(href='/movie') 영화 추천
                li
                  a(href='/food') 맛집 추천
                li
                  a(href='/center') 상담소
            li
              a(href='/mypage') 마이페이지
        // /.navbar-collapse
      // /.container
    // Header Carousel
    // Page Content
    .container
      // Page Heading/Breadcrumbs
      .row
        .col-lg-12
          h1.page-header
            | 영화 추천
      // /.row
      // Portfolio Item Row
      .row
        .col-md-8
          #carousel-example-generic.carousel.slide(data-ride='carousel')
            // Indicators
            ol.carousel-indicators
              li.active(data-target='#carousel-example-generic', data-slide-to='0')
              li(data-target='#carousel-example-generic', data-slide-to='1')
              li(data-target='#carousel-example-generic', data-slide-to='2')
            // Wrapper for slides
            .carousel-inner
              .item.active
                img.img-responsive(src='http://placehold.it/750x500', alt='')
              .item
                img.img-responsive(src='http://placehold.it/750x500', alt='')
              .item
                img.img-responsive(src='http://placehold.it/750x500', alt='')
            // Controls
            a.left.carousel-control(href='#carousel-example-generic', data-slide='prev')
              span.glyphicon.glyphicon-chevron-left
            a.right.carousel-control(href='#carousel-example-generic', data-slide='next')
              span.glyphicon.glyphicon-chevron-right
        .col-md-4
          h3 코미디 영화
          p
            | 우울할 땐 코미디 영화가 최고
      // /.row
      // Related Projects Row
      .row
        .col-lg-12
          h3.page-header 다른영화들
        .col-sm-3.col-xs-6
          a(href='#')
            img.img-responsive.img-hover.img-related(src='http://placehold.it/500x300', alt='')
        .col-sm-3.col-xs-6
          a(href='#')
            img.img-responsive.img-hover.img-related(src='http://placehold.it/500x300', alt='')
        .col-sm-3.col-xs-6
          a(href='#')
            img.img-responsive.img-hover.img-related(src='http://placehold.it/500x300', alt='')
        .col-sm-3.col-xs-6
          a(href='#')
            img.img-responsive.img-hover.img-related(src='http://placehold.it/500x300', alt='')
      // /.row
      hr
      // Footer
      footer
        .row
          .col-lg-12
            p Copyright © Mentos 2017
    // /.container
    // jQuery
    script(src='javascript/jquery.js')
    // Bootstrap Core JavaScript
    script(src='javascript/bootstrap.min.js')
