doctype html
html(lang='ko')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title MENTal Of uS
    // Bootstrap Core CSS
    link(href='../stylesheets/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='../stylesheets/modern-business.css', rel='stylesheet')
    // Custom Fonts
    link(href='../font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    script(src='../dist/sweetalert.min.js')
    link(rel='stylesheet', type='text/css', href='../dist/sweetalert.css')
  body
    // Navigation
    nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/main') Mentos
          a.navbar-brand(href='/mypage') #{name}
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/board') 내 노트
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | 추천
                b.caret
              ul.dropdown-menu
                li
                  a(href='/movie') 영화 추천
                li
                  a(href='/food') 맛집 추천
            li
              a(href='/consult') 멘탈클리닉
            li.active
              a(href='/mypage') 마이페이지
            li
              a(href='/logout') 로그아웃
        // /.navbar-collapse
      // /.container
    // Page Content
    .container
      // Page Heading/Breadcrumbs
      .row
        .col-lg-12
          h1.page-header
            | 마이페이지
      // /.row
      // The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/
      .row
        input#c_no(type='hidden' name="no" value='#{c_no}')
        input#c_pw(type='hidden' name="pw" value='#{c_pw}')
        .col-md-3.col-sm-6
          .panel.panel-default.text-center
            .panel-heading
              span.fa-stack.fa-5x
                i.fa.fa-circle.fa-stack-2x.text-primary
                i.fa.fa-pencil-square-o.fa-stack-1x.fa-inverse
            .panel-body
              h4 내 정보수정
              a.btn.btn-primary(href='/mypage/update') 바로가기
        .col-md-3.col-sm-6
          .panel.panel-default.text-center
            .panel-heading
              span.fa-stack.fa-5x
                i.fa.fa-circle.fa-stack-2x.text-success
                i.fa.fa-heart.fa-stack-1x.fa-inverse
            .panel-body
              h4 내 감정분석
              a.btn.btn-success(href='/mypage/sentiment') 바로가기
        .col-md-3.col-sm-6
          .panel.panel-default.text-center
            .panel-heading
              span.fa-stack.fa-5x
                i.fa.fa-circle.fa-stack-2x.text-warning
                i.fa.fa-comments.fa-stack-1x.fa-inverse
            .panel-body
              h4 상담하기
              a.btn.btn-warning(href='/consult') 바로가기
        .col-md-3.col-sm-6
          .panel.panel-default.text-center
            .panel-heading
              span.fa-stack.fa-5x
                i.fa.fa-circle.fa-stack-2x.text-danger
                i.fa.fa-times-circle.fa-stack-1x.fa-inverse
            .panel-body
              h4 회원탈퇴
              a.btn.btn-danger(href='javascript:signout();') 바로가기
      hr
      // Footer
      footer
        .row
          .col-lg-12
            p Copyright © Mentos 2017
    // /.container
    // jQuery
    script(src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.2.min.js')
    script(src='http://ajax.aspnetcdn.com/ajax/bootstrap/3.3.4/bootstrap.min.js')
    // Bootstrap Core JavaScript
    script.
        function signout(){
            var c_no = $('#c_no').val();
            var c_pw = $('#c_pw').val();
            swal({
                    title: "갈거야?",
                    text: "복구 안해줌!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "응 갈거야!",
                    cancelButtonText: "안갈래!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                },
                function(isConfirm){
                    if (isConfirm) {
                        swal({
                                title: "비밀번호 확인!",
                                text: "비밀번호 기억하지?",
                                type: "input",
                                showCancelButton: true,
                                closeOnConfirm: false,
                                animation: "slide-from-top",
                                inputPlaceholder: "비밀번호"
                            },
                            function(inputValue){
                                if(inputValue === c_pw){
                                    $.ajax({
                                        url:"/mypage/signout",
                                        dataType:'json',
                                        type:"POST",
                                        data:{c_no:c_no},
                                        success:function(data){
                                            swal({title:"잘가!", type:"success",showCancelButton: false}, function(){
                                                location.href='/logout';
                                            });
                                        },
                                        error:function(request,status,error){
                                            alert('코드:'+request.status+'\n'+'메세지:'+request.responseText+'\n'+'에러:'+error);
                                        }
                                    });

                                }
                                else if (inputValue === "") {
                                    swal.showInputError("한 글자 이상은 써야지!");
                                    return false
                                }
                                else if (inputValue === false) return false;

                                else {
                                    swal.showInputError("그거 아닐걸?");
                                    return false
                                }

                            });
                    } else {
                        swal("취소", "노트들은 무사해 :)", "error");
                    }
                });

        }